.fullScreenHeader {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/img/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0;
  padding: 0;
}

.headerTitle {
  font-size: 80px;
  margin: 0;
}

.headerContent {
  z-index: 2;
  color: white;
}

.headerTitle {
  font-size: 3rem;
  margin: 0;
}

.headerSubtitle {
  font-size: 1.5rem;
  margin-top: 10px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}