/* IconCardSection.module.css */

.iconCardSection {
  padding: 50px 20px;
  text-align: center;
}

.sectionTitle {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.cardContainer {
  display: flex;
  justify-content: center; /* Centers the cards */
  align-items: center;
  gap: 10px; /* Reduced gap between cards */
}

.card {
  background-color: #111;
  border-radius: 15px;
  padding: 30px;
  width: 100%;
  max-width: 250px;
  text-align: center;
  border: 1px solid #333;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: inherit; /* Keeps text color same */
}

.card:hover {
  transform: scale(1.05);
}

.icon {
  font-size: 3rem;
  margin-bottom: 15px;
}

.cardTitle {
  font-size: 1.8rem;
  font-weight: 700;
}
